/* CISCO BRANDING EXCHANGE */

$cisco-logo-blue: #1baadc;
$cisco-webdark-blue:#005073;
$cisco-lake-blue: #004baf;
$cisco-dark-blue: #2b5592;
$cisco-status-blue: #64bbe3;
$cisco-icy-blue: #c4d6ed;
$cisco-black: #000000;
$cisco-darker-gray: #39393b;
$cisco-dark-gray: #58585b;
$cisco-light-gray: #a7a9ab;
$cisco-lighter-gray: #dfdfdf;
$cisco-pale-gray: #e8ebf1;
$cisco-paler-gray: #f3f6f9;
$cisco-white: #ffffff;
$cisco-deep-green: #005c21;
$cisco-medium-green: #6cc04a;
$cisco-sage-green: #abc233;
$cisco-deep-red: #8b1001;
$cisco-status-orange: #ff7300;
$cisco-orange: #ffa000;